*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}

body{
  background:#0e0e14;
  color:white;
}

/* FIXED LEFT SIDEBAR */
.sidebar{
  width:230px;
  background:#141420;
  border-right:2px solid hotpink;
  padding:25px;
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  overflow:hidden;
}

/* profile image */
.profile{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid hotpink;
  margin-bottom:15px;
}

.sidebar h2{
  color:hotpink;
  margin-bottom:20px;
}

/* Sidebar menu item spacing + hover */
.sidebar ul li{
  list-style:none;
  margin:25px 0; /* အပေါ်အောက် spacing နည်းနည်းချဲ့ */
  position:relative; /* hover effect အတွက် */
}

.sidebar a{
  text-decoration:none;
  color:white;
  font-weight:bold;
  font-size:18px;
  padding:5px 0;
  display:inline-block;
  transition: all 0.3s ease; /* smooth hover effect */
}

/* Hover effect */
.sidebar a:hover{
  color:hotpink;
  transform: translateX(5px); /* နည်းနည်း right shift */
}

/* Optional: small underline animation on hover */
.sidebar a::after{
  content:'';
  display:block;
  width:0;
  height:2px;
  background:hotpink;
  transition: width 0.3s;
}

.sidebar a:hover::after{
  width:100%;
}


/* RIGHT CONTENT SCROLL ONLY */
.content{
  margin-left:230px;
  padding:40px;
}

/* SECTIONS */
.section{
  padding:60px 0;
  border-bottom:1px solid #2e2e3a;
}

.section h2{
  color:hotpink;
}

/* PROJECT GRID */
.project-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.project-card{
  background:#181824;
  padding:15px;
  border-radius:12px;
  text-align:center;
  border:1px solid #2a2a36;
}

.project-card img{
  width:100%;
  height:170px;
  object-fit:cover;
  border-radius:10px;
  margin-bottom:10px;
  transition:0.3s;
}

.project-card img:hover{
  transform:scale(1.05);
  box-shadow:0 0 15px hotpink;
}

h1 span, h3{
  color:pink;
}
.footer{
  background:#141420;
  color:white;
  text-align:center;
  padding:20px 0;
  border-top:2px solid hotpink;
  margin-top:40px;
  font-size:14px;
}
.chat-logos{
  display:flex;
  gap:20px;
  margin-top:15px;
}

.chat-logo{
  width:50px;
  height:50px;
  object-fit:cover;
  border-radius:50%;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor:pointer;
}

.chat-logo:hover{
  transform:scale(1.2);
  box-shadow:0 0 15px hotpink;
}
